.main-video-container {
    video {
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    h2 {
      margin-top: 10px;
      font-size: 18px;
      color: #333;
    }
  
    p {
      margin-top: 5px;
      font-size: 14px;
      color: #555;
    }
  }
  