<div class="course-container">
    <h1>Internet of Things (IoT): Executive Briefing</h1>
    <p>
      The Internet of Things (IoT) is a very exciting field of how devices
      change our world.
    </p>
  
    <div class="course-image">
      <img src="assets/iot-course.jpg" alt="IoT Course" />
    </div>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Table of Contents</mat-panel-title>
      </mat-expansion-panel-header>
      <p>What is IoT? Implementations and Use Cases.</p>
    </mat-expansion-panel>
  
    <div class="author">
      <h3>About the Author</h3>
      <p>Author: Mahesh Raj Pillutla</p>
    </div>
  </div>
  
