.container {
    max-width: 900px;
    margin: auto;
  }
  
  .mat-elevation-z8 {
    margin-top: 20px;
  }
  
  .edit-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  